{% extends 'account/account_base.html' %}
{% load static %}

{% block head_title %}Password Reset |{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="row">
            <div class="col-md-12">
                <form id="passwordResetForm" action="{% url 'account:password_reset' %}" method="POST"
                      class="login100-form validate-form">
                    {% csrf_token %}

                    <span class="login100-form-logo">
                        <img src="{% static 'korabco/images/logo.png' %}" alt="logo" style="width: 150px;">
                    </span>

                    <div class="wrap-login100">

                        <span class="login100-form-title p-b-34 p-t-27">
                            Reset Password
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter email">
                            <input type="text"
                                   class="input100"
                                   name="email"
                                   id="id_email"
                                   placeholder="Email">
                            <span class="focus-input100" data-placeholder="&#xf15a;"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit" name="submit">
                                Reset Password
                            </button>
                        </div>

                        <div class="text-center p-t-50">
                            <a class="txt2" href="{% url 'account:login' %}">
                                Already Have an Account ?
                            </a><br>
                            <a class="txt2" href="{{ SITE_URL }}">
                                Home
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

