{% extends 'mails/base_email.html' %}

{% block content %}
    <div class="text" style="padding: 0 2.5em; text-align: center;">
        <h4>
            To initiate the password reset process for your <b>{{ user.get_username }}</b> Korabco Account,
            click the link below:<br><br>

            {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
            <br>

            <br><br>

            If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.<br>

        </h4>
    </div>
{% endblock %}