{% load static %}

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax" data-scroll-element=".page-container">
    <div class=" container p-l-0 p-r-0   container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <div class="row">

                <div class="col-xl-5 col-lg-6 ">
                    <!-- START card -->
                    <div class="card card-transparent">
                        <div class="card-header ">
                            <div class="card-title white-color">
                                {% now "l, jS F, Y. H:i (T)" %}
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="white-color">Welcome back!</h3>
                            <p class="white-color">
                                You will find here all your books, you can get your free <i>MP3</i> and
                                donwload an App <i>Android/IOS</i> for each book.
                            </p>
                            <br>
                            <div>
                                <div class="profile-img-wrapper m-t-5 inline">
                                    <img width="100" height="100" src="{{ request.user.profile.avatar.url }}"
                                         data-src="{{ request.user.profile.avatar.url }}"
                                         data-src-retina="{{ request.user.profile.avatar.url }}"
                                         class="img-fluid">
                                    <div class="chat-status available">
                                    </div>
                                </div>
                                <div class="inline m-l-10">
                                    <p class="hint-text m-t-5 white-color">
                                        {{ request.user.first_name|title }} {{ request.user.last_name|upper }}<br>
                                        {{ request.user.email }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END card -->
                </div>
                <div class="col-xl-7 col-lg-6 ">
                    <!-- START card -->
                    <div class="full-height">
                        <div class="card-body text-center">
                            <img class="image-responsive-height demo-mw-600"
                                 src="{% static 'dashboard/img/bg_jumbotron.png' %}" alt="">
                        </div>
                    </div>
                    <!-- END card -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->